<footer class="footer">
  <div class="container">

    <div class="copyright typeset">
      <small class="small">© Marco Piangerelli 2026</small>
    </div>

    <div <li class="item item--nav">
      <a href="{{ page.footer_image | relative_url }}">
        <small class="small">
              Painting Title: {{ page.footer_painting }} 
              <br>
              Author: {{ page.footer_author }}
            
        </small>
      </a>
    </div>

  <nav class="nav nav--footer">
    <ul class="list list--nav">
      <li class="item  item--nav">
        <a href="https://alembic.darn.es/">Adapted from Alembic theme</a>
      </li>
    </ul>
  </nav>
  </div>
</footer>
  
