<footer class="footer">
  <div class="container">

    <div class="copyright typeset">
      <small class="small">© Marco Piangerelli 2019</small>
    </div>

    {% if page.footer_painting or page.footer_author %}
    <div class="typeset">
      <ul class="list list--nav">
        li class="item item--nav">
          <a href="{{ page.footer_image | relative_url }}">
            <small class="small">
              Painting Title: {{ page.footer_painting }} <br>
              Author: {{ page.footer_author }}
            </small>
          </a>
        </li>
      </ul>
    </div>
    {% endif %}

    {% include nav-footer.html %}

  </div>
</footer>
